<!DOCTYPE html>
<html lang="en" ng-app="Boutique">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boutique en Ligne</title>
    <script src="../js/angular.js"></script>
    <script src="../js/angular-ui-bootstrap.js"></script>
    <script src="../js/angular-ui-route.js"></script>
    <script src="../js/app.js"></script>
    <script type="../js/animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/bde.css">

  </head>
  <body>
    <header>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../php/bde.php">Welcome to OS of BDE</a>
           
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../php/tse.php">Online Store of TSE</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                <li id="gestion_admin">
         
                </li>
                <li>
                  <a href="../php/myAccount.php">MY_ACCOUNT</a>    
                </li>
                <li>
                  <a href="../php/index.php#contact">CONTACT_US</a>    
                </li>
                <li>
                  <a href="?out=out">LOGOUT</a>    
                </li>
              </ul>
            </div>
        </div>
      </nav>
      
    </header>

<div class="contentBody">
    <div class="row">
      <div class="col-md-6">
        <a href="../php/index.php"><img id="marque" src="../img/marque.png"></a>
      </div>
    </div>

    <div id="total"   ng-controller="showHide">
<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\start of the second control/////////////////////////////////////////// -->
      <div id="headImg" ng-controller="imageChanged" ng-show="slidesLooping">
      
        <div id="imgLoop">
        
          <carousel interval="myInterval" no-wrap="noWrapSlides" >
            <slide ng-repeat="slide in slides" active="slide.active">
              <img ng-src="{{slide.image}}" style="margin:auto;">
              <div class="carousel-caption">
                <p>{{slide.text}}</p>
              </div>
            </slide>
          </carousel>

        </div> 
    
      </div>

      <div id="annexe" style='background:{{backgroundColor}}'>
        <pre id="date">Today is: <em>{{dt | date:'fullDate' }}</em></pre>
        <img id="hide" type="button" src="../img/hide.png" ng-show="hideImg" ng-click="hide()" />
        <img id="show" type="button" src="../img/show.png" ng-show="showImg" ng-click="show()" />
        <!-- <img id="backgroundColor" type="button" src="img\bg.png" ng-click="backcolor()" ng-dblclick="returnWhite()"/> -->
        <br/>
      </div>
      



      <hr style="border:1px solid black;" />
    </div>

    <div class="row">
          <div id="produit1" class="col-sm-3 col-lg-3 col-md-3">
            <div id="produit1_bound">
              <img id="produit1_image"/>
              <div class="caption">
                <h4 id="produit1_price"></h4>
                <h4 class="nameProduit"><a id="produit1_name" href="#"></a></h4>
                <p id = "produit1_description"></p>
              </div>
            </div>
          </div>

          <div id="produit2" class="col-sm-3 col-lg-3 col-md-3">
            <div id="produit2_bound">
              <img id="produit2_image"/>
              <div class="caption">
                <h4 id="produit2_price"></h4>
                <h4  class="nameProduit"><a id="produit2_name" href="#"></a></h4>
                <p id = "produit2_description"></p>
              </div>
            </div>
          </div>

          <div id="produit3" class="col-sm-3 col-lg-3 col-md-3">
            <div id="produit3_bound">
              <img id="produit3_image"/>
              <div class="caption">
                <h4 id="produit3_price"></h4>
                <h4  class="nameProduit"><a id="produit3_name" href="#"></a></h4>
                <p id = "produit3_description"></p>
              </div>
            </div>
          </div>

          <div id="produit4" class="col-sm-3 col-lg-3 col-md-3">
            <div id="produit4_bound">
              <img id="produit4_image"/>
              <div class="caption">
                <h4 id="produit4_price"></h4>
                <h4  class="nameProduit"><a id="produit4_name" href="#"></a></h4>
                <p id = "produit4_description"></p>
              </div>
            </div>
          </div>

          <div id="produit5" class="col-sm-3 col-lg-3 col-md-3">
            <div id="produit5_bound">
              <img id="produit5_image"/>
              <div class="caption">
                <h4 id="produit5_price" ></h4>
                <h4  class="nameProduit"><a id="produit5_name" href="#"></a></h4>
                <p id = "produit5_description"></p>
              </div>
            </div>
          </div>

          <div id="produit6" class="col-sm-3 col-lg-3 col-md-3">
            <div id="produit6_bound">
              <img id="produit6_image"/>
              <div class="caption">
                <h4 id="produit6_price"></h4>
                <h4  class="nameProduit"><a id="produit6_name" href="#"></a></h4>
                <p id = "produit6_description"></p>
              </div>
            </div>
          </div>

          <div id="produit7" class="col-sm-3 col-lg-3 col-md-3">
            <div id="produit7_bound">
              <img id="produit7_image"/>
              <div class="caption">
                <h4 id="produit7_price"></h4>
                <h4  class="nameProduit"><a id="produit7_name" href="#"></a></h4>
                <p id = "produit7_description"></p>
              </div>
            </div>
          </div>

          <div id="produit8" class="col-sm-3 col-lg-3 col-md-3">
            <div id="produit8_bound">
              <img id="produit8_image"/>
              <div class="caption">
                <h4 id="produit8_price"></h4>
                <h4  class="nameProduit"><a id="produit8_name" href="#"></a></h4>
                <p id = "produit8_description"></p>
              </div>
            </div>
          </div>

          <div id="produit9" class="col-sm-3 col-lg-3 col-md-3">
            <div id="produit9_bound">
              <img id="produit9_image"/>
              <div class="caption">
                <h4 id="produit9_price"></h4>
                <h4  class="nameProduit"><a id="produit9_name" href="#"></a></h4>
                <p id = "produit9_description"></p>
              </div>
            </div>
          </div>

          <div id="produit10" class="col-sm-3 col-lg-3 col-md-3">
            <div id="produit10_bound">
              <img id="produit10_image"/>
              <div class="caption">
                <h4 id="produit10_price"></h4>
                <h4  class="nameProduit"><a id="produit10_name" href="#"></a></h4>
                <p id = "produit10_description"></p>
              </div>
            </div>
          </div>
          
          <div id="produit11" class="col-sm-3 col-lg-3 col-md-3">
            <div id="produit11_bound">
              <img id="produit11_image"/>
              <div class="caption">
                <h4 id="produit11_price"></h4>
                <h4  class="nameProduit"><a id="produit11_name" href="#"></a></h4>
                <p id = "produit11_description"></p>
              </div>
            </div>
          </div>

          <div id="produit12" class="col-sm-3 col-lg-3 col-md-3">
            <div id="produit12_bound">
              <img id="produit12_image"/>
              <div class="caption">
                <h4 id="produit12_price"></h4>
                <h4  class="nameProduit"><a id="produit12_name" href="#"></a></h4>
                <p id ="produit12_description"></p>
              </div>
            </div>
          </div>


    </div>

    <nav>
      <div id = "pager_records"></div>
      <div id = "pager_select"></div>
    </nav>

</div>
    <hr style="border:1px solid black;" />
    
    <footer>
      <div>      
        <span>copyright &copy;2016 <b><a href="http://www.telecom-st-etienne.fr/">TELECOM SAINT-ETIENNE</a></b>.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All rights reserved.</span>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.js"></script>
    
    
  <script>
    $(document).ready(function(){
     //限制字符个数
      $("p").each(function(){
          var maxwidth=50;
          if($(this).text().length>maxwidth){
              $(this).text($(this).text().substring(0,maxwidth));
              $(this).html($(this).html()+'...');
          }
          else if($(this).text().length<maxwidth){
            var n = maxwidth+20-$(this).text().length;
            var espaces= '';
            for(var i=0;i<n;i++){
              espaces += '&nbsp';
            }
            $(this).html($(this).html()+espaces);
          }
      });
    });
  </script>

  </body>
</html>