<!DOCTYPE html>
<html ng-app="Boutique">
	<head>
    	<meta charset="utf-8">
    	<title>Upload</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="../js/angular.js"></script>
      <script src="../js/uploader.js"></script>
      <script src="../app.js"></script>
      <script src="../js/angular-ui-bootstrap.js"></script>
      <script src="../js/angular-ui-route.js"></script>
	    <!-- Styles -->
    	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="../css/upload.css">
    	
      <script>
            var boutique = angular.module('Boutique', ['ui.uploader']);
            boutique.controller('uploaderCtrl', function($scope, $log, uiUploader) {
                $scope.btn_remove = function(file) {
                    $log.info('deleting=' + file);
                    uiUploader.removeFile(file);
                };

                $scope.btn_clean = function() {
                    uiUploader.removeAll();
                };

                $scope.btn_upload = function() {
                    $log.info('uploading...');
                    uiUploader.startUpload({
                        url: 'http://realtica.org/ng-uploader/demo.html',
                        concurrency: 2,
                        onProgress: function(file) {
                            $log.info(file.name + '=' + file.humanSize);
                            $scope.$apply();
                        },
                        onCompleted: function(file, response) {
                            $log.info(file + 'response' + response);
                        }
                    });
                };

                $scope.files = [];
                var element = document.getElementById('file1');
                element.addEventListener('change', function(e) {
                    var files = e.target.files;
                    uiUploader.addFiles(files);
                    $scope.files = uiUploader.getFiles();
                    $scope.$apply();
                });
            });
        </script>
    	<!--<link href="../assets/css/bootstrap-responsive.css" rel="stylesheet"> -->

	</head>

  	<body>

		<header class="navbar navbar-default">
  			<div class="container">
    			<div class="navbar-header">
      				<!-- <a href="index.html" class="navbar-brand">Welcome to the online store</a> -->
    			  <a class="navbar-brand">Welcome to the online store</a>
          </div>
    			<nav id="bs-navbar" class="collapse navbar-collapse">
      				<ul class="nav navbar-nav">
        				<li>
          					<a href="">AA</a>
        				</li>
        				<li>
          					<a href="">BB</a>
        				</li>
        				<li>
          					<a href="">CC</a>
       					</li>
        				<li>
          					<a href="">DD</a>
        				</li>
      				</ul>
      				<ul class="nav navbar-nav navbar-right">
        				<li>
        					<a href="signUP.html">Sign up</a>
        				</li>
        				<li>
        					<a href="upload.html">Sign in</a>
        				</li>
    		  		</ul>
    			</nav>
  			</div>
		</header>



  <div class="container">

    <form class="form-upload">
        		<!-- <h2 class="form-upload-heading">Please sign in</h2> -->
    
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Price">
      <select class="form-control">
        <option>Clothes</option>
        <option>Appliance</option>
        <option>Furniture</option>
        <option>Residence</option>
      </select>
<!--       <input type="text" placeholder="Contact Phone">
<input type="text" placeholder="Contact E-mail"> -->
      <textarea rows="5" cols="88" placeholder="The description of your produit..."></textarea>

      <div class="well" ng-controller="uploaderCtrl">
        <div>
          <div style="float:right;">
            <button ng-click="btn_upload()">Upload</button>
            <button ng-click="btn_clean()">Remove all</button>
          </div>
          <input type="file" id="file1" multiple/>
        </div>

        <div ng-repeat="file in files" style="margin-top: 20px;border-bottom-color: antiquewhite;border-bottom-style: double;">
          <div>
            <span>{{file.name}}</span>
            <div style="float:right;">
              <span>{{file.humanSize}}</span>
              <a ng-click="btn_remove(file)" title="Remove from list to be uploaded">
                <i class="icon-remove"></i>
              </a>
            </div>
          </div>
          <progress style="width:200px;" value="{{file.loaded}}" max="{{file.size}}"></progress>
        </div>

      </div>
      <button id="upload" class="btn btn-primary" type="submit">Publish</button>
    </form>

    	</div>

	</body>
</html>