BODY {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px
}
TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px
}
.td_14titleblack {
	FONT-SIZE: 14px; PADDING-TOP: 5px
}
.td_12titleblack {
	PADDING-RIGHT: 10px; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.td_border {
	BORDER-RIGHT: #6ba4dc 1px solid; BORDER-TOP: #6ba4dc 1px solid; BORDER-LEFT: #6ba4dc 1px solid; BORDER-BOTTOM: #6ba4dc 1px solid
}
.td_border_gray {
	BORDER-RIGHT: #a1a1a1 1px solid; BORDER-TOP: #a1a1a1 1px solid; BORDER-LEFT: #a1a1a1 1px solid; BORDER-BOTTOM: #a1a1a1 1px solid
}
.td_title {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; LINE-HEIGHT: 22px
}
.td_r_hot {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.td_m_title {
	PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.td_l_info {
	PADDING-LEFT: 8px
}
.td_l_small {
	PADDING-LEFT: 7px; PADDING-TOP: 4px
}
.td_r_info {
	PADDING-LEFT: 16px; LINE-HEIGHT: 18px
}
.td_14px {
	FONT-SIZE: 14px; LINE-HEIGHT: 24px
}
.td_subscibe {
	PADDING-LEFT: 6px; COLOR: #666666
}
.td_mags {
	PADDING-LEFT: 8px
}
.td_finance {
	LINE-HEIGHT: 16px
}
.img_border {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.img_redborder {
	BORDER-RIGHT: #f6558c 1px solid; BORDER-TOP: #f6558c 1px solid; BORDER-LEFT: #f6558c 1px solid; BORDER-BOTTOM: #f6558c 1px solid
}
.font_time {
	FONT-SIZE: 12px; COLOR: #656565
}
A:link {
	COLOR: #0f0cbf
}
A:visited {
	COLOR: #800381
}
A:active {
	COLOR: #ff0000
}
A:hover {
	COLOR: #ff0000
}
A.14link:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.14link:visited {
	FONT-SIZE: 12px; COLOR: #800381; TEXT-DECORATION: none
}
A.14link:active {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.14link:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.white:link {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.white:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.white:active {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.white:hover {
	FONT-SIZE: 12px; COLOR: #00ffff; TEXT-DECORATION: none
}
A.title:link {
	FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
A.title:visited {
	FONT-SIZE: 14px; COLOR: #800381; TEXT-DECORATION: none
}
A.title:active {
	FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
A.title:hover {
	FONT-SIZE: 14px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.title_black:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.title_black:visited {
	COLOR: #800381; TEXT-DECORATION: none
}
A.title_black:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.title_black:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.orgtitle:link {
	FONT-SIZE: 14px; COLOR: #f79202; TEXT-DECORATION: none
}
A.orgtitle:visited {
	FONT-SIZE: 14px; COLOR: #800381; TEXT-DECORATION: none
}
A.orgtitle:active {
	FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
A.orgtitle:hover {
	FONT-SIZE: 14px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.12title:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.12title:visited {
	FONT-SIZE: 12px; COLOR: #800381; TEXT-DECORATION: none
}
A.12title:active {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.12title:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.A04:link {
	FONT-SIZE: 12px; COLOR: #3b3b3b; TEXT-DECORATION: none
}
A.A04:visited {
	FONT-SIZE: 12px; COLOR: #3b3b3b; TEXT-DECORATION: none
}
A.A04:active {
	FONT-SIZE: 12px; COLOR: #3b3b3b; TEXT-DECORATION: none
}
A.A04:hover {
	FONT-SIZE: 12px; COLOR: #3b3b3b; TEXT-DECORATION: none
}
A.noline:link {
	TEXT-DECORATION: none
}
A.noline:visited {
	TEXT-DECORATION: none
}
A.noline:active {
	TEXT-DECORATION: none
}
A.noline:hover {
	TEXT-DECORATION: none
}
.car_bg {
	BACKGROUND-POSITION: left 50%; PADDING-LEFT: 65px; BACKGROUND-IMAGE: url(http://news.qq.com/images/newnews/car_l.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #02acca
}
.game_bg {
	BACKGROUND-POSITION: center 50%; BACKGROUND-IMAGE: url(http://news.qq.com/images/newnews/game_bg.gif); BACKGROUND-REPEAT: no-repeat
}
